.section-header {
  padding: 100px 0px 0px 0px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.title {
  color: var(--color-black);
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    width: 120px;
    height: 3px;

    transform: translateX(-50%);
    background: var(--color-green);
  }
}

.subtitle {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
}
