.transport {
  &__container {
  }

  &__header {
  }

  &__title {
  }

  &__subtitle {
  }

  &__body {
    margin: 80px 0px 0px 0px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 400px));
    gap: 40px;
  }

  &__item {
    overflow: hidden;
    cursor: pointer;

    & img {
      max-width: 100%;

      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
